table {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
    border-collapse: collapse;
    border: 1px solid #000;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #000;
    padding: 10px 15px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}


.buttona {
    display: block;
    margin: 20px auto 0 auto;
    padding: 10px 25px;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.buttona:hover {
    background-color: #218838;
}
.FinancesDiv
{
    text-align: center;
    margin: 1% 2% 2% 2%;
}
.Guide
{
    margin-left: 10%;
    color: green;
}

@media screen and (max-width : 768px) {
    th{
        display: none;
    }
    table{
        width: 90%;
    }
    tr{
        margin: 2% 4% 2% 4%;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    td{
        text-align: center;
        border-radius: 9px;
        color: green;
        padding: 10px;
    }
}