.RegPlotsDiv
{
    background-color: goldenrod;
    width: 40%;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 4%;
    padding: 2% 4% 2% 4%;
}
.RegPlotsDivForm
{
    background-color: white;
    padding: 2% 3% 2% 3%;
    border: none;
    border-radius: 8px;
}
.RegPlotsInputs
{
    padding: 2% 3%;
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 3%;
    border: 1px solid black;
    border-radius: 3px;
}
.RegPlotsSubmit
{
    margin: auto;
    margin-left: 20%;
    width: 50%;
    padding: 2% 3%;
    background-color: gold;
    border: none;
    border-radius: 3px;
}

@media screen and (max-width:768px) {
    .RegPlotsDiv{
        width: 80%;
        border: none;
        border-radius: 3px;
        padding-bottom: 3%;
    }
    h1{
        text-align: center;
        margin-bottom: 2%;
        color: green;
    }
    .RegPlotsInputs{
        width: 80%;
        padding: 3% 3%;
    }
    .RegPlotsSubmit{
        width: 80%;
        margin-left: 10%;
        padding: 3% 4%;
    }
    .RegPlotsDivForm{
        padding: 4% 3% 4% 3%;
    }
}